In [1]:
import pandas as pd
import re
from datetime import datetime

In [2]:
df = pd.read_csv('./Invoice_20201220.csv', encoding='utf-8',  sep='|')

In [3]:
df.head()

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46"
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82"
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32"
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00"
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37"

In [4]:
df["SITE_NAME"].value_counts()

17447_GEO (1600BR)    105
14271_GEO (1089BR)     70
15424_GEO (2079BR)     70
14292_GEO (4060BR)     70
12555_GEO (0051KO)     37
                     ...
16095_GEO (0670BR)      1
17305_GEO (1326BR)      1
16082_GEO (1341BR)      1
17831_GEO (1952BR)      1
13165_GEO (0220KO)      1
Name: SITE_NAME, Length: 2404, dtype: int64

### Clean le site_name

In [5]:
def clean_site_name(site_name):
    result = re.search("^.+\((\d{4}[a-zA-Z]{2})\)", site_name)
    
    try:
        result = result.group(1)
    except:
        0
    return result

df["SITE_NAME_CLEANED"] = [clean_site_name(site_name) for site_name in df["SITE_NAME"]]
df

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE_NAME_CLEANED
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46",0001BB
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82",0001BB
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32",0001BB
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00",0001BB
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37",0001BB
...,...,...,...,...,...,...,...
51427,19767_GEO (0632KO),FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18",0632KO
51428,19767_GEO (0632KO),055100058,01/01/2020,31/03/2020,2 163,"283,57",0632KO
51429,19767_GEO (0632KO),055100113,01/04/2020,30/06/2020,2 160,"312,55",0632KO
51430,19767_GEO (0632KO),055100168,01/07/2020,30/09/2020,2 230,"294,07",0632KO
51431,19883_GEO (1203KO),7220278453,27/09/2019,31/12/2019,4 745,"681,96",1203KO

### Supprimer la colonne INVOICE_NAME

In [6]:
df = df.drop('INVOICE_NAME', 1)

In [7]:
df

,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE_NAME_CLEANED
0,12345_GEO (0001BB),01/01/2018,31/01/2018,2 447,"316,46",0001BB
1,12345_GEO (0001BB),01/02/2018,28/02/2018,2 211,"286,82",0001BB
2,12345_GEO (0001BB),01/03/2018,31/03/2018,2 450,"317,32",0001BB
3,12345_GEO (0001BB),01/04/2018,30/04/2018,2 431,"315,00",0001BB
4,12345_GEO (0001BB),01/05/2018,31/05/2018,2 574,"333,37",0001BB
...,...,...,...,...,...,...
51427,19767_GEO (0632KO),30/08/2019,31/12/2019,3 028,"397,18",0632KO
51428,19767_GEO (0632KO),01/01/2020,31/03/2020,2 163,"283,57",0632KO
51429,19767_GEO (0632KO),01/04/2020,30/06/2020,2 160,"312,55",0632KO
51430,19767_GEO (0632KO),01/07/2020,30/09/2020,2 230,"294,07",0632KO
51431,19883_GEO (1203KO),27/09/2019,31/12/2019,4 745,"681,96",1203KO

In [8]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,SITE_NAME_CLEANED,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR
0,0001BB,12345_GEO (0001BB),01/01/2018,31/01/2018,2 447,"316,46"
1,0001BB,12345_GEO (0001BB),01/02/2018,28/02/2018,2 211,"286,82"
2,0001BB,12345_GEO (0001BB),01/03/2018,31/03/2018,2 450,"317,32"
3,0001BB,12345_GEO (0001BB),01/04/2018,30/04/2018,2 431,"315,00"
4,0001BB,12345_GEO (0001BB),01/05/2018,31/05/2018,2 574,"333,37"
...,...,...,...,...,...,...
51427,0632KO,19767_GEO (0632KO),30/08/2019,31/12/2019,3 028,"397,18"
51428,0632KO,19767_GEO (0632KO),01/01/2020,31/03/2020,2 163,"283,57"
51429,0632KO,19767_GEO (0632KO),01/04/2020,30/06/2020,2 160,"312,55"
51430,0632KO,19767_GEO (0632KO),01/07/2020,30/09/2020,2 230,"294,07"
51431,1203KO,19883_GEO (1203KO),27/09/2019,31/12/2019,4 745,"681,96"

### Nombre de jours / facture

In [9]:
def calculate_number_of_day_difference(index):
    return pd.to_datetime(df.END[index], format='%d/%m/%Y', errors='coerce') - pd.to_datetime(df.BEGIN[index], format='%d/%m/%Y', errors='coerce')

max_range = len(df["BEGIN"])

df["NUMBER_OF_DAY_INVOICE"] = [calculate_number_of_day_difference(index) for index in range(max_range)]
df

<ipython-input-9-4c71e3473b5d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["NUMBER_OF_DAY_INVOICE"] = [calculate_number_of_day_difference(index) for index in range(max_range)]

,SITE_NAME_CLEANED,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,NUMBER_OF_DAY_INVOICE
0,0001BB,12345_GEO (0001BB),01/01/2018,31/01/2018,2 447,"316,46",30 days
1,0001BB,12345_GEO (0001BB),01/02/2018,28/02/2018,2 211,"286,82",27 days
2,0001BB,12345_GEO (0001BB),01/03/2018,31/03/2018,2 450,"317,32",30 days
3,0001BB,12345_GEO (0001BB),01/04/2018,30/04/2018,2 431,"315,00",29 days
4,0001BB,12345_GEO (0001BB),01/05/2018,31/05/2018,2 574,"333,37",30 days
...,...,...,...,...,...,...,...
51427,0632KO,19767_GEO (0632KO),30/08/2019,31/12/2019,3 028,"397,18",123 days
51428,0632KO,19767_GEO (0632KO),01/01/2020,31/03/2020,2 163,"283,57",90 days
51429,0632KO,19767_GEO (0632KO),01/04/2020,30/06/2020,2 160,"312,55",90 days
51430,0632KO,19767_GEO (0632KO),01/07/2020,30/09/2020,2 230,"294,07",91 days
51431,1203KO,19883_GEO (1203KO),27/09/2019,31/12/2019,4 745,"681,96",95 days

### Consommation quotidienne moyenne

In [10]:
df["PERIOD_EUR"] = df["PERIOD_EUR"].str.replace(",", ".")
df["PERIOD_EUR"] = df["PERIOD_EUR"].str.replace(" ", "")

df["DAILY_AVG_CONSUMPTION"] = df["PERIOD_EUR"].astype(float) / df["NUMBER_OF_DAY_INVOICE"].dt.days
df

<ipython-input-10-ce66df9fe685>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PERIOD_EUR"] = df["PERIOD_EUR"].str.replace(",", ".")
<ipython-input-10-ce66df9fe685>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PERIOD_EUR"] = df["PERIOD_EUR"].str.replace(" ", "")
<ipython-input-10-ce66df9fe685>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DAILY_AVG_CONSUMPTION"] = df["PERIOD_EUR"].astype(float) / df["NUMBER_OF_DAY_INVOICE"].dt.days

,SITE_NAME_CLEANED,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,NUMBER_OF_DAY_INVOICE,DAILY_AVG_CONSUMPTION
0,0001BB,12345_GEO (0001BB),01/01/2018,31/01/2018,2 447,316.46,30 days,10.548667
1,0001BB,12345_GEO (0001BB),01/02/2018,28/02/2018,2 211,286.82,27 days,10.622963
2,0001BB,12345_GEO (0001BB),01/03/2018,31/03/2018,2 450,317.32,30 days,10.577333
3,0001BB,12345_GEO (0001BB),01/04/2018,30/04/2018,2 431,315.00,29 days,10.862069
4,0001BB,12345_GEO (0001BB),01/05/2018,31/05/2018,2 574,333.37,30 days,11.112333
...,...,...,...,...,...,...,...,...
51427,0632KO,19767_GEO (0632KO),30/08/2019,31/12/2019,3 028,397.18,123 days,3.229106
51428,0632KO,19767_GEO (0632KO),01/01/2020,31/03/2020,2 163,283.57,90 days,3.150778
51429,0632KO,19767_GEO (0632KO),01/04/2020,30/06/2020,2 160,312.55,90 days,3.472778
51430,0632KO,19767_GEO (0632KO),01/07/2020,30/09/2020,2 230,294.07,91 days,3.231538
51431,1203KO,19883_GEO (1203KO),27/09/2019,31/12/2019,4 745,681.96,95 days,7.178526

### Merci d'ajouter également une colonne qui donne, pour chaque antenne, le nombre de factures dont on dispose au total.

In [11]:
def calculate_nb_invoice_per_site_name(site_name):
    return len(df.loc[df['SITE_NAME_CLEANED'] == site_name])

df["NUMBER_INVOICE"] = df["SITE_NAME_CLEANED"].apply(calculate_nb_invoice_per_site_name)
df

<ipython-input-11-7d0148468c12>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["NUMBER_INVOICE"] = df["SITE_NAME_CLEANED"].apply(calculate_nb_invoice_per_site_name)

,SITE_NAME_CLEANED,SITE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,NUMBER_OF_DAY_INVOICE,DAILY_AVG_CONSUMPTION,NUMBER_INVOICE
0,0001BB,12345_GEO (0001BB),01/01/2018,31/01/2018,2 447,316.46,30 days,10.548667,35
1,0001BB,12345_GEO (0001BB),01/02/2018,28/02/2018,2 211,286.82,27 days,10.622963,35
2,0001BB,12345_GEO (0001BB),01/03/2018,31/03/2018,2 450,317.32,30 days,10.577333,35
3,0001BB,12345_GEO (0001BB),01/04/2018,30/04/2018,2 431,315.00,29 days,10.862069,35
4,0001BB,12345_GEO (0001BB),01/05/2018,31/05/2018,2 574,333.37,30 days,11.112333,35
...,...,...,...,...,...,...,...,...,...
51427,0632KO,19767_GEO (0632KO),30/08/2019,31/12/2019,3 028,397.18,123 days,3.229106,4
51428,0632KO,19767_GEO (0632KO),01/01/2020,31/03/2020,2 163,283.57,90 days,3.150778,4
51429,0632KO,19767_GEO (0632KO),01/04/2020,30/06/2020,2 160,312.55,90 days,3.472778,4
51430,0632KO,19767_GEO (0632KO),01/07/2020,30/09/2020,2 230,294.07,91 days,3.231538,4
51431,1203KO,19883_GEO (1203KO),27/09/2019,31/12/2019,4 745,681.96,95 days,7.178526,1

### Et information bonus si tu y arrives : les équipes aimeraient beaucoup avoir une liste de toutes les antennes avec, pour chaque antenne, le coefficient de variation de la consommation. Cela permettra d'avoir une idée, pour chaque antenne, de la dispersion de sa consommation d'énergie.

In [12]:
#def coefficient_of_variation(site_name):
 #   return df.loc[df['SITE_NAME_CLEANED'] == site_name]["PERIOD_EUR"].astype(float).std() / df.loc[df['SITE_NAME_CLEANED'] == site_name]["PERIOD_EUR"].astype(float).mean()
    
#df["VARIATION_COEFFICIENT"] = df["SITE_NAME_CLEANED"].apply(calculate_nb_invoice_per_site_name)
#df

In [13]:
df.loc[df['SITE_NAME_CLEANED'] == "0001BB"]["PERIOD_EUR"].astype(float).std() / df.loc[df['SITE_NAME_CLEANED'] == "0001BB"]["PERIOD_EUR"].astype(float).mean()

0.0918899505723921

In [14]:
#df["COEFFICIENT_VARIATION_BIS"] = df.groupby(['SITE_NAME_CLEANED'])["PERIOD_EUR"].astype(float).std() / df.groupby(['SITE_NAME_CLEANED'])["PERIOD_EUR"].astype(float).mean()
df_cv = df[['SITE_NAME_CLEANED','PERIOD_EUR']]

df_cv['PERIOD_EUR'] = df_cv['PERIOD_EUR'].str.replace(' ', '')
df_cv['PERIOD_EUR'] = pd.to_numeric(df_cv['PERIOD_EUR'].str.replace(',', '.'))

df_cv

<ipython-input-14-403861819db3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cv['PERIOD_EUR'] = df_cv['PERIOD_EUR'].str.replace(' ', '')
<ipython-input-14-403861819db3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cv['PERIOD_EUR'] = pd.to_numeric(df_cv['PERIOD_EUR'].str.replace(',', '.'))

      SITE_NAME_CLEANED  PERIOD_EUR
0                0001BB      316.46
1                0001BB      286.82
2                0001BB      317.32
3                0001BB      315.00
4                0001BB      333.37
...                 ...         ...
51427            0632KO      397.18
51428            0632KO      283.57
51429            0632KO      312.55
51430            0632KO      294.07
51431            1203KO      681.96

[51432 rows x 2 columns]

In [15]:
df_cv_mean = df_cv.groupby(['SITE_NAME_CLEANED'])['PERIOD_EUR'].mean()
df_cv_std = df_cv.groupby(['SITE_NAME_CLEANED'])['PERIOD_EUR'].std()

df_cv_final = ((df_cv_std / df_cv_mean)*100).round(2).astype(str) + '%'
df_cv_final.to_csv("Coefficient_variation.csv", sep=',')